body{
    background-color: #2b5b97;
}

header{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    height: 70px;
    margin: -10px;
    width: 99.9%;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 -1350px;
    font-size: 25px;
}

.logo {
    height: 200px;
    width: 600px;
    top: 30px;
    left: 20px;
    background-image: url('WashWise-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 780px;
}

section{
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}
.gh {
    width: 420px;
    height: max-content;
    background: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    align-self: center;
    margin: 50px auto; 
    backdrop-filter: blur(50px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
select{
    width: 100%;
    padding:12px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.la{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.Input {
    position: relative;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}

.save-btn {
    display: block;
    width: 200px;
    padding: 8px;
    background-color: #1f5395;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 10px auto 0;
  }

.Input ::placeholder {
    color: black;
    font-weight: bold;
    font-size: 15px;
}
