body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
    background: url(bga.png) no-repeat center center fixed;
    background-size: cover;
    height: 300vh; 
    
}  

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    height: 50px;
}

.navbar a:first-of-type {
    margin-left: auto;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 10px; /* Fixed negative margin */
}

.navbar .log {
    text-align: center;
    width: 80px;
    height: 30px;
    padding: 9px 0 0 0; /* Fixed padding */
    border: 2px solid #378BA4;
    background-color: #378BA4;
    border-radius: 5px;
}

.logo {
    height: 200px;
    width: 600px;
    background-image: url('WashWise-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -200px;
}

.section_1 {
    min-height: 100vh;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.section_2 {
    min-height: 100vh;
    font-weight: normal;
    padding: 80px 20px 20px;
    display: flex;
    margin: auto;
    background-color: #f8f9fa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.section_2 .her h1{
    font-size: 70px;
}

.section_2 .her  p{
    font-size: 25px;
    line-height: 1.5;
}

.section_3 {
    min-height: 100vh;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.her {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

span.accent-1 {  
    color: whitesmoke;
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

span.accent-2 { 
    color: #2b5697;
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

.her .more {
    text-align: center;
    margin: 20px auto 0;
    width: 170px;
    height: 40px;
    border: 2px solid #378BA4;
    background-color: #378BA4;
    border-radius: 5px;
}

.her .more a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}